* {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.line{
	background-color: black;
	height: 0.3vh;
	width: 60vw;
	position: relative;
	left: 20%;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h1, h2 {
	text-align: center;
	margin-top: 2em;
}

body{
	background-image: linear-gradient(to right, #B3B7EE, #9395D3);
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
}

.buttons{
	width: 15vw;
	height: 6vh;
	margin: 1em;
	border: 3px solid #000807;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
}


.buttons:active{
	transform: scale(.95);
}

.buttons:hover{
	border: 5px solid #000807;
	box-shadow: 5px;
}

.buttons2{
	width: 15vw;
	height: 6vh;
	margin: 1em;
	border: 3px solid #000807;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
}


.buttons2:active{
	transform: scale(.95);
}

.buttons2:hover{
	border: 5px solid #000807;
	box-shadow: 5px;
}

form{
	text-align: center;
}

input{
	height: 5vh;
	width: 20vw;
}


li {
	list-style: none;
	text-align: center;
	font-size: 2rem;
	background-color: red;
	width: 60vw;
	position: relative;
	left: 20%;
	border: 5px dotted #000807;
	background-color: rgba(203, 203, 203, 0.7);
	font-weight: bold;
	letter-spacing: 0.1em;
	border-radius: 10px;
	margin-bottom: 0.5em;
}

@media only screen and (max-width: 450px){

	.buttons{
		width: 60vw;
	}

	.buttons2{
		width: 30vw;
	}

	input{
		width: 40vw;
	}

	li{
		font-size: 1rem;
	}
}